{% extends "base.html" %}
{% block content %}

<section>
    <div class="container text-center py-4">
        <div class="row mt-lg-5">
            <div class="col">
                <h1 class="display-4">{{ page_title }}</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <form action="{{ url_for('course.process_filter') }}" method="POST">
            <div class="row">
                <div class="col-auto">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.filter_by_tutor.label }}
                        {{ form.filter_by_tutor() }}
                    </div>
                </div>
                <div class="col-auto">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.filter_by_topic.label }}
                        {{ form.filter_by_topic() }}
                    </div>
                </div>
                <div class="col-auto">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
</div>

<div class="album py-3 bg-light">
<div class="container">

    <div class="row">
    {% for course in courses %}
    <div class="col-md-3">
        <div class="card md-light mb-3 text-center">
        <img src="{{ url_for('static', filename='images/course-main.jpg') }}" class="card-img-fluid" alt="img">
        <div class="card-img-top">
            <div class="card-body text-left">
                <h4 class="text">{{ course.title }}</h4>
                <p>{{ course.description[:60] }}...</p>
                <p>Author: {{ course.get_author_username() }}</p>
                <p class="font-italic">Published: {{ course.published_at }}</p>
                <a href="/courses/{{ course.id }}" class="stretched-link"></a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}
