{% extends "base.html" %}
{% block content %}

<section>
    <div class="container text-center py-4">
        <div class="row mt-lg-5">
            <div class="col">
                <h1 class="display-4">All courses marked by topic '{{topic.name}}'</h1>
            </div>
        </div>
    </div>
</section>

<div class="album py-3 bg-light">
<div class="container">

    <div class="row">
    {% for course in courses_in_topic %}
    <div class="col-md-3">
        <div class="card md-light mb-3 text-center">
        <img src="{{ url_for('static', filename='images/course-topics.jpg') }}" class="card-img-fluid" alt="img">
        <div class="card-img-top">
            <div class="card-body text-left">
                <h4 class="text">{{ course.title }}</h4>
                <p>Tutor: {{ course.get_tutor_username() }}</p>
                <p>{{ course.description[:60] }}...</p>
                <p class="font-italic">Published at {{ course.published_at.strftime('%d %b %Y') }}</p>
                <a href="/courses/{{ course.id }}" class="stretched-link"></a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}
