{% extends "base.html" %}
{% block content %}

<section>
    <div class="container text-center py-1">
        <div class="row mt-lg-5">
            <div class="col">
                <h1 class="display-4">{{ page_title }}</h1>
                <span>Marked topics</span>
                {% for topic in topics %}
                    <span class="badge badge-pill badge-secondary">{{ topic.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="album py-3 bg-light">
    <div class="container">
        <div class="row">
        {% for lesson in lessons_in_course %}
            <div class="col-md-6">
                <div class="card text-left mt-4">
                      <div class="card-header">
                            Lesson # {{ lesson.index }}
                      </div>
                      <div class="card-body">
                            <h5 class="card-title">{{ lesson.title }}</h5>
                            <p class="card-text">{{ lesson.content[:60] }}...</p>
                            <a href="{{ url_for('course.lesson', course_id=course_id, lesson_id=lesson.id) }}" class="btn btn-primary">Go and learn</a>
                      </div>
                      <div class="card-footer text-muted">
                            Reading time: {{ (lesson.content.split()|length / 200)|round|int }} mins
                      </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
