{% extends "base.html" %}
{% block content %}

<section>
    <div class="container text-center py-1">
        <div class="row mt-lg-3">
            <div class="col-md-3 mt-2">
                <a class="btn btn-success btn-lg" href="{{ url_for('tutorboard.create_lesson', course_id=course_id) }}">Create new lesson</a>
            </div>
            <div class="col-md-8">
                <h1 class="display-4">{{ page_title }}</h1>
            </div>
        </div>
    </div>
</section>

<div class="album py-3 bg-light">
    <div class="container">
        <div class="row">
        {% for lesson in lessons %}
            <div class="col-md-6">
                <div class="card text-left mt-4">
                      <div class="card-header" style="background-color:powderblue">
                            Lesson # {{ lesson.index }}
                      </div>
                      <div class="card-body">
                            <h5 class="card-title">{{ lesson.title }}</h5>
                            <p class="card-text">{{ lesson.content[:60] | safe }}...</p>
                            <a href="{{ url_for('tutorboard.lesson', course_id=course_id, lesson_id=lesson.id) }}" class="stretched-link"></a>
                      </div>
                      <div class="card-footer text-muted">
                            Reading time: {{ (lesson.content.split() | length / 200) | round | int }} mins
                      </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
