<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Cursus</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav me-auto mb-2 mb-md-0">
		  <!-- <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Categories
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<li><a class="dropdown-item" href="#">Category 1</a></li>
				<li><a class="dropdown-item" href="#">Category 2</a></li>
				<li><a class="dropdown-item" href="#">Category 3</a></li>
			  </ul> -->
		</ul>
		<form class="mx-4 my-auto d-flex w-50" action="">
		  <input class="form-control me-2" type="search" placeholder="Search for courses" aria-label="Search">
		  <button class="btn btn-outline-success" type="submit">Search</button>
		</form>
		<ul class="nav navbar-nav ml-auto">
			<form class="form-inline">
				<a class="btn btn-primary" href="/login" role="button">Login</a>
			</form>
        </ul>

	  </div>
	</div>
  </nav>
